<div id="container">

      <span id="details">
        Details
      </span>
  
      <table style="width:100%" ALIGN="right">
        <tr>
          <th class="thStyle" ALIGN="left">Sales Rep</th>
          <th class="thStyle" ALIGN="left">Date</th> 
          <th class="thStyle" ALIGN="left">Client</th>
          <th class="thStyle" ALIGN="left">Primary Contact Person</th>
          <th class="thStyle" ALIGN="left">Title</th>
          <th class="thStyle" ALIGN="left">Vertical</th>
          <th class="thStyle" ALIGN="left">Meeting Location</th>
          <th class="thStyle" ALIGN="left">Purpose of interaction</th>
          <th class="thStyle" ALIGN="left">Outcome and Remarks</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td> 
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td> 
          <td>94</td>
        </tr>
      </table>
      
  
</div>

