ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
li {
  font-size: 14px;
  float: left;
  cursor: pointer;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li.active {
  color : #2196F3;
  border-bottom: 2px solid currentColor;
 }

 li:hover {
  color : #2196F3;
  border-bottom: 2px solid currentColor;
}
