.firstHalfContainer {
  padding: 0px 80px 0px 80px;
}

.statsContainer{
  width: 100%;
  margin: 0 auto;
}

.funnel{
  width : 50%;
  float: left;
  overflow: hidden;
}

.stats{
  width : 40%;
  float: left;
  overflow: hidden;
}

/* .statsContainer, .SalesRepRank{
  float: right;
  display: table-cell;
} */
