.firstHalfContainer {
  padding-right: 80px;
  padding-left: 80px;
}
.FilterAndSalesContainer{
  width: 100%;
  margin: 0 auto;
}

.statsContainer{
  width: 81%;
  margin: 0 auto;
  float: left;
}

.funnel{
  width : 68%;
  float: left;
  overflow: hidden;
}

.stats{
  width : 30%;
  float: left;
  overflow: hidden;
}

.SaleRepRank{

  float: left;
  overflow: hidden;
  margin-left: 10px;
}

/* .statsContainer, .SalesRepRank{
  float: right;
  display: table-cell;
} */
