<div class="firstHalfContainer">
    <app-header></app-header>
    <app-filter-by-period></app-filter-by-period>
    <div>
        <div class="FilterAndSalesContainer">
          <div class="statsContainer">
              <app-filter-by-vertical style="padding:20px 40px 20px 50px"></app-filter-by-vertical>
              <app-funnel class="funnel"></app-funnel>
              <app-stats-summary class="stats"></app-stats-summary>
            </div>
          </div>
          <app-sales-reps-rank class="SaleRepRank"></app-sales-reps-rank>
    </div>
</div>
<div>
  <app-sale-details-table></app-sale-details-table>
</div>

