.firstHalfContainer {
  padding: 0px 80px 0px 80px;
}
.FilterAndSalesContainer{
  width: 100%;
  margin: 0 auto;
}

.statsContainer{

  margin: 0 auto;
  float: left;
}

.funnel{
  width : 68%;
  float: left;
  overflow: hidden;
}

.stats{
  width : 30%;
  float: left;
  overflow: hidden;
}

.SaleRepRank{

  float: left;
  overflow: hidden;
}

/* .statsContainer, .SalesRepRank{
  float: right;
  display: table-cell;
} */
