
<div>
  <div class="statDetailsCard">
      <img class="statImage" src="assets/images/ico-calls.png" alt="call" >
      <div class="statHeading">CALLS</div>
      <div class="figure">10/15</div>
  </div>
  <div class="statDetailsCard">
      <img class="statImage" src="assets/images/ico-wins.png" alt="call" >
      <div class="statHeading">WINS</div>
      <div class="figure">1/3</div>
  </div>
  <div class="statDetailsCard">
      <img class="statImage" src="assets/images/ico-revenue.png" alt="call" >
      <div class="statHeading IncRevenue">INCREMENTED REVENUE</div>
      <div class="figure">80k/100k</div>
  </div>
</div>
