
<div class="container">
  <div class="statDetailsCard">
      <img class="statImage" src="assets/images/ico-calls.png" alt="call" >
      <div class="statHeading">CALLS</div>
      <div class="figure">{{callsRecieved}}/{{callsMade}}</div>
  </div>
  <div class="statDetailsCard">
      <img class="statImage" src="assets/images/ico-wins.png" alt="WINS" >
      <div class="statHeading">WINS</div>
      <div class="figure">{{Wins}}/{{totalProjects}}</div>
  </div>
  <div class="statDetailsCard">
      <img class="statImage" src="assets/images/ico-revenue.png" alt="REVENUE" >
      <div class="statHeading IncRevenue">INCREMENTED REVENUE</div>
      <div class="figure">{{increamentedRevenu}}k/{{BaseRevenue}}k</div>
  </div>
</div>
