<div class="container">
    <img class="FunnelImage" src="assets/images/funnel.png" alt="Snow" style="width:100%;">

    <div class="Level1 keepItAtCenter"><div class="funnelH2">Lead In</div> <div class="stat2">{{leadIn}}</div></div>
    <div class="Level2 keepItAtCenter"><div class="funnelH2">Contact Made</div> <div class="stat2">{{ContactMade}}</div></div>
    <div class="Level3 keepItAtCenter"><div class="funnelH2">Needs Defined</div> <div class="stat2">{{NeedsDefined}}</div></div>
    <div class="Level4 keepItAtCenter"><div class="funnelH2">Proposal Made</div> <div class="stat2">{{ProposalMade}}</div></div>
    <div class="Level5 keepItAtCenter"><div class="funnelH2">Negotiation Started</div> <div class="stat2">{{NegotiationStarted}}</div></div>
    <div class="Level6 keepItAtCenter"><div class="funnelH1">Won</div> <div class="stat1">{{Wonn}}</div></div>

  </div>
