.container {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}
.FunnelImage{
  width: 400px;
  height: 525px;
}

.funnelH2{
  font-size: 18px;
  font-weight: regular;
}
.stat2{
  font-size: 48px;
  font-weight: bold;
}
.funnelH1{
  font-size: 48px;
}
.stat1{
  font-size: 48px;
  font-weight: bold;
}


.centered {
  top: 50%;
}

.keepItAtCenter{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Level1 {
  top: 8%;
}
.Level2 {
  top: 23%;
}

.Level3 {
  top: 38%;
}

.Level4 {
  top: 53%;
}

.Level5 {
  top: 68%;
}

.Level6 {
  top: 85%;
}

