<div class="container" >
    <ul>
      <li class="active">TOP</li>
      <li>BOTTOM</li>
    </ul>
  </div>

  <div>
    <div class="SalesRepCard firstCard">
        <!-- <img class="FunnelImage" src="assets/images/winner.png" alt="Snow" style="width:100%;"> -->
      <div class="cardName">
          John Doe
      </div>
      <div class="cardContent">
          <div>
              <div><div class="cardSubHeading">New MMR</div> <div class="cardSubHeadingContent">3500</div></div>
              <div class="cardSubHeading">New logos</div> <div class="cardSubHeadingContent">82</div>
              <div class="cardSubHeading">Demo Calls</div> <div class="cardSubHeadingContent">10</div>
            </div>
      </div>
    </div>
    <div class="SalesRepCard secondCard">
        <div class="cardName">
            Jane Smith
        </div>
        <div>
            <div><div class="cardSubHeading">New MMR</div> <div class="cardSubHeadingContent">3500</div></div>
            <div class="cardSubHeading">New logos</div> <div class="cardSubHeadingContent">82</div>
            <div class="cardSubHeading">Demo Calls</div> <div class="cardSubHeadingContent">10</div>
          </div>
    </div>
    <div class="SalesRepCard thirdCard">
        <div class="cardName">
            Ethan Hunt
        </div>
        <div>
          <div><div class="cardSubHeading">New MMR</div> <div class="cardSubHeadingContent">3500</div></div>
          <div class="cardSubHeading">New logos</div> <div class="cardSubHeadingContent">82</div>
          <div class="cardSubHeading">Demo Calls</div> <div class="cardSubHeadingContent">10</div>
        </div>
    </div>
  </div>
