#container{
  background-color: white;
  height: 50px;
}
option {
  font-size: 14px;
  opacity: 0.5;
}

select {
  font-size: 14px;
  opacity: 0.5;
  border:0px;
  outline:0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/src/assets/images/ico-down-arrow.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 20px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
select::-ms-expand { display: none; }
